{%- liquid
  assign free_shipping_threshold = 5000
  assign cart_total = cart.total_price
  assign remaining = free_shipping_threshold | minus: cart_total
  assign percentage = cart_total | times: 100 | divided_by: free_shipping_threshold

  if percentage > 100
    assign percentage = 100
  endif
-%}

<div class="free-shipping-bar">
  {%- if remaining > 0 -%}
    <p class="free-shipping-bar__message">
      Add <strong>{{ remaining | money }}</strong> more for FREE shipping
    </p>
  {%- else -%}
    <p class="free-shipping-bar__message">
      <strong>You've unlocked FREE SHIPPING!</strong>
    </p>
  {%- endif -%}

  <div class="free-shipping-bar__progress">
    <div class="free-shipping-bar__bar" style="width: {{ percentage }}%;"></div>
  </div>
</div>
