<details class="op-collapse" data-acc="details">
  <summary class="op-collapse__summary">Details</summary>
  <div class="op-collapse__panel">
    <div class="op-details rte op-details--clamped" data-details>
      {{ product.description }}
    </div>

    <button type="button" class="op-readmore" data-readmore hidden>
      Show more
    </button>
  </div>
</details>
